body {
    font-family: 'Ubuntu', sans-serif;;
}

iframe {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    width: 35vmax;
    height: 20vmax;
    border: 3px solid #7360DF;
}